@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon Management System!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
<br>
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>